#
# pip install -r spot_pip_requirements.txt
#

# NAOJ packages
ginga @ git+http://github.com/naojsoft/ginga
naojutils @ git+http://github.com/naojsoft/naojutils
oscript @ git+http://github.com/naojsoft/oscript
g2cam @ git+http://github.com/naojsoft/g2cam
spot @ git+http://github.com/naojsoft/spot
